.container {
  margin: 50px 50px;
}

q {
  font-size: 50px;
  color: white;
  font-weight: bolder;
  text-align: center;
}

.author {
  color: white;
  font-size: 20px;
  font-style: italic;
}

@media (max-width: 480px) {
  .pic {
    width: auto;
    height: auto;
    max-width: 100%;
    min-width: 100%;
    border: 2px rgb(197, 197, 197) solid;
    -webkit-box-shadow: 0px 0px 35px 2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 35px 2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 35px 2px rgba(0, 0, 0, 0.75);
  }
  q {
    font-size: 25px;
    color: white;
    font-weight: bolder;
    text-align: center;
  }
  .author {
    color: white;
    font-size: 15px;
    font-style: italic;
  }
}

.pic {
  width: auto;
  max-width: 50%;
  height: auto;
  border: 2px rgb(197, 197, 197) solid;
  -webkit-box-shadow: 0px 0px 35px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 35px 2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 35px 2px rgba(0, 0, 0, 0.75);
}
