/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://fonts.googleapis.com/css?family=Mina|Montserrat');

body {
  background-size: cover;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(
    206deg,
    #ff5353,
    #ffd900,
    #7553ff,
    #ffa053,
    #ff5378
  );
  background-size: 1200% 1200%;

  -webkit-animation: AnimationName 70s ease infinite;
  -moz-animation: AnimationName 70s ease infinite;
  animation: AnimationName 70s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@media (max-width: 480px) {
  body {
    background-size: cover;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(45deg #b60000 , #564597, #ffa053);
    background-size: 1200% 1200%;

    -webkit-animation: AnimationName 25s ease infinite;
    -moz-animation: AnimationName 25s ease infinite;
    animation: AnimationName 25s ease infinite;
  }
}
